/* * *  PC Thiet bi lon hon (min-width: 1024.02px) * * */
@media (min-width: 1024.02px) {
}

/* * * Thiet bi Table & Mobile: @media screen and (max-width: 991px) * * */
@media screen and (max-width: 991px) {
    /* * * Start Header * * *  */
    .header__btn,
    .header__list {
        display: none;
    }
    .header__btn-menu {
        background: #2b2b2b;
        display: block;
        border: none;
    }

    .top-creators {
        margin-top: 40px;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

    }

    .top-creators .section__header {
        height: 100px;
        display: flex;
        justify-content: space-between;
        column-gap: 20px
    }


}
/*  * * Thiet bi rieng Table: @media screen and (min-width: 768px) and (max-width: 991px) * * */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 690px;
        padding: 72px 0;
    }
    .header {
        display: flex;
        padding: 40px 0px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        align-self: stretch;
    }

    .section__title {
    color: var(--White, #FFF);
    font-family: "Work Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    text-transform: capitalize;
    }
}
/* * * Thiet bi Mobile: @media screen and (max-width: 767px) * * */
@media screen and (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 40px 30px;
    }
    .header {
        padding: 40px 30px;
    }

    .header .container {
        flex-direction: column;
    }

    
}

